*{

  margin: 0;
  border: 0;


}
.conteudoSobreMim{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 120px;
  background-color: #e3e6f7;
  height: 300px;
}

h2{
 font-size: 50px;
 padding-left: 80px;
 user-select: none;

}
.perfil{

  height: 380px;
  width: 350px;
  user-select: none;
  &:hover{
    transform: scale(1.09);
  }

}

.minhasInfos{
flex-direction: row;
list-style-type: none;
justify-content: space-around;
user-select: none;
}
.minhasContas{
  display: flex;
  padding-left: 150px;
  padding-top: 150px;
  list-style-type: none;
  flex-direction: row;
  user-select: none;
}

.github{
  height: 130px;
  &:hover{
    transform: scale(1.09);
  }
  user-select: none;
}
.linkedin{
  height: 150px;
  &:hover{
    transform: scale(1.09);
  }
  user-select: none;
}
.whats{
  height: 150px;
  &:hover{
    transform: scale(1.09);
  }
  user-select: none;
}

.apresentacao{
  height: 300px;
  width: 100%;
  background-color: #3f51b5;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);

  &:hover{
    transform: scale(1.01);
  }



  ::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid lightblue;
    animation: borderFlow 2s linear infinite;

  }
  user-select: none;


}

.tituloSobreMim{
  display: flex;
  font-size: 30px;
  color: aliceblue;
  padding-left: 25px;
  padding-top: 20px;
  user-select: none;
}
.textoSobreMim{
  display: flex;
  font-size: 25px;
  color: aliceblue;
  padding: 35px;
  user-select: none;

}
@keyframes borderFlow {
  0% { border-color: whitesmoke; }

  50% { border-color: lightblue; }

  100% { border-color: #3f51b5; }
}


/* Daqui para baixo é sobre as formações e os cards */
.formacoes{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #e3e6f7;


}

mat-card-header{
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-top: 4px;

}
mat-card-title{

  display:flex;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  user-select: none;
  padding-top: 100px;

}
mat-card-subtitle{
  display: flex;
  text-align: center;
}
mat-card-footer{
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-top: 115px;

}
.imgbeca{
  height: 90px;
  width: 180px;
  user-select: none;
}
.imglogo{
  width: 150px;
  height: 150px;
  user-select: none;
}
.imglogoEstacio{
  width: 130px;
  height: 110px;

}
.imglogoproa{
  width: 150px;
  height: 120px;
  user-select: none;
}

.card1{
  height: 550px;
  width: 300px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;

  &:hover{
    transform: scale(1.05);
  }
  user-select: none;
  box-shadow: 0px 0px 20px lightblue;
}

.card2{

  height: 550px;
  width: 300px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;
  &:hover{
    transform: scale(1.05);
  }
  user-select: none;
  box-shadow: 0px 0px 20px lightblue;
}
.card3{

  height: 550px;
  width: 300px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;
  &:hover{
    transform: scale(1.05);
  }
  user-select: none;
  box-shadow: 0px 0px 20px lightblue;
}
.card4{

  height: 550px;
  width: 300px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;
  &:hover{
    transform: scale(1.05);
  }
  user-select: none;
  box-shadow: 0px 0px 20px lightblue;
}
