* {
  margin: 0;
  border: 0;
}

.carrousel{
  display: block;
  text-align: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  padding-top: 30px;
}
.downloadCurriculum{
  animation: 2s ease-out 0s 1 slideInFromRight;

  background: linear-gradient(to bottom, #3f51b5, transparent);

  top: 0; /* Alinha o elemento no topo do contêiner */
  left: 80% ; /* Alinha o elemento no canto direito do contêiner */
  padding: 25px;
  margin-bottom: 5%;
  font-weight: 900 ;


  &:hover{
   background: linear-gradient(to bottom, transparent, #3f51b5);
  }




}

.conteudoSobreMim {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  flex-direction: row;
  padding: 120px;
  background-color: white;
  height: 530px;
  width: 90%;
  animation: 2s ease-out 0s 1 slideInFromRight;
}


h2 {
  font-size: 50px;
  color: gray;
  white-space: nowrap;
  user-select: none;

  animation: 2s ease-out 0s 1 slideInFromRight;
}
.perfil {
  height: 380px;
  width: 350px;
  user-select: none;
  animation: 2s ease-out 0s 1 slideInFromRight;

  &:hover {
    transform: scale(1.09);
  }
}

.minhasInfos {
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  user-select: none;

}
.minhasContas {
  display: flex;
  padding-left: 150px;
  padding-top: 150px;
  list-style-type: none;
  flex-direction: row;
  user-select: none;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.github {
  height: 130px;
  &:hover {
    transform: scale(1.09);
  }
  user-select: none;
}
.linkedin {
  height: 150px;
  &:hover {
    transform: scale(1.09);
  }
  user-select: none;
}
.whats {
  height: 150px;
  &:hover {
    transform: scale(1.09);
  }
  user-select: none;
}


.apresentacao {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  animation: 2s ease-out 0s 1 slideInFromRight;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  user-select: none;

  ::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid lightblue;
    animation: borderFlow 5s linear infinite !important;
  }
}

.apresentacao:hover {
  transform: scale(1.01);
}

@keyframes borderFlow {
  0% {
    border-color: whitesmoke;
  }

  50% {
    border-color: lightblue;
  }

  100% {
    border-color: #3f51b5;
  }
}
.tituloSobreMim {
  display: flex;
  font-size: 30px;
  color: aliceblue;
  padding-left: 25px;
  padding-top: 20px;
  user-select: none;
}
.textoSobreMim {
  display: flex;
  font-size: 25px;
  color: aliceblue;
  padding: 35px;
  user-select: none;
}

.formacoes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  animation: 2s ease-out 0s 1 slideInFromRight;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  user-select: none;
}
.tituloFormacoes {
  font-size: 40px;
  margin-top: 30px;
  color: gray;
}

mat-card-header {
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-top: 4px;
}
mat-card-title {
  display: flex;
  font-size: 25px;
  color: white;
  justify-content: center;
  text-align: center;
  user-select: none;
  padding-top: 100px;
}
mat-card-subtitle {
  display: flex;
  text-align: center;
}
mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-top: 115px;
}

.imgbeca {
  height: 90px;
  width: 180px;
  user-select: none;
}
.imglogo {
  width: 150px;
  height: 150px;
  user-select: none;
}
.imglogoEstacio {
  width: 140px;
  height: 120px;
}
.imglogoproa {
  width: 150px;
  height: 120px;
  user-select: none;
}

.card1 {
  height: 500px;
  width: 330px;
  padding-left: 15px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;
  user-select: none;
  box-shadow: 0px 0px 20px #3f51b5;
  &:hover {
    transform: scale(1.05);
    border: 1px solid #3f51b5;
    background: linear-gradient(to bottom, #6699CC, transparent);
  }
}

.card2 {
  height: 500px;
  width: 330px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  box-shadow: 0px 0px 20px #6699CC;
  border-radius: 20px;
  &:hover {
    transform: scale(1.05);
    border: 1px solid #3f51b5;
    background: linear-gradient(to bottom, #6699CC, transparent);
  }
  user-select: none;
  box-shadow: 0px 0px 20px #3f51b5;
}
.card3 {
  height: 500px;
  width: 330px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #3f51b5 !important;
  user-select: none;
  &:hover {
    transform: scale(1.05);
    border: 1px solid #3f51b5;
    background: linear-gradient(to bottom, #6699CC, transparent);
  }
  user-select: none;
  box-shadow: 0px 0px 20px #3f51b5;
}

.card4 {
  height: 500px;
  width: 330px;
  background: linear-gradient(to bottom, #3f51b5, transparent);
  box-shadow: 0px 0px 20px #6699CC;
  border-radius: 20px;
  user-select: none;
  &:hover {
    transform: scale(1.05);
    border: 1px solid lightblue;
    background: linear-gradient(to bottom, #6699CC, transparent);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
  .carrousel{
    display: block;
    text-align: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    padding: 30px 0 0 123px;

  }
  .conteudoSobreMim {
    display: flex;
    overflow-x: hidden;
    height: 80px;
    width: auto;
    flex-direction: row; /* Change flex direction for smaller screens */
    padding-bottom: 200px;
    padding-top: 50px;
  }
  img .perfil{
    display: flex;
    align-items: center;

  }
  .minhasInfos {
    flex-direction: row;
  }

  h2 {
    font-size: 15px; /* Decrease font size for smaller screens */
    white-space: nowrap;
    padding-left: 15px;
  }

  .perfil {

    height: 150px; /* Reduce image size for smaller screens */
    width: 120px; /* Reduce image size for smaller screens */
  }

  .minhasContas {
    height: 10px;
    padding: 10px;
    margin-left: 20px;
    flex-direction: row;
  }
  .github {
    height: 40px;
    padding: 0%;
    margin: 0;
  }
  .linkedin {
    height: 48px;

    padding: 0%;
    margin: 0;
  }
  .whats {
    height: 45px;
    padding: 0%;

  }

  .downloadCurriculum{
    align-items: center;
    top: 0;
    left: 90px;
    font-size: 15px;


  }

  .apresentacao {
    padding: 20px; /* Adjust padding for smaller screens */
    height: auto;
  }

  .tituloSobreMim {
    font-size: 20px; /* Decrease font size for smaller screens */
    padding-left: 15px; /* Adjust padding for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  .textoSobreMim {
    font-size: 18px; /* Decrease font size for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .tituloFormacoes {
    font-size: 20px; /* Decrease font size for smaller screens */
    padding-left: 15px; /* Adjust padding for smaller screens */
  }
  .formacoes {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    height: 300px; /* Adjust card height for smaller screens */
    width: 300px; /* Adjust card width for smaller screens */
    margin: 25px;
    flex-wrap: wrap;
    position: relative;
  }

  .imgbeca {
    display: flex;
    top: 0%;
    left: 0%;
    height: 60px; /* Adjust image height for smaller screens */
    width: 140px; /* Adjust image width for smaller screens */
  }


  .imglogoproa,
  .imglogo,
  .imglogoEstacio {
    width: 120px; /* Adjust image width for smaller screens */
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 90px;
  }



  mat-card-title {
    text-align: center;
    padding: 15%;
  }
  mat-card-footer{
    position: absolute; /* Adicione position: absolute; */
    bottom: 0; /* Alinhe o rodapé ao final do card */
    left: 0; /* Alinhe o rodapé à esquerda do card */
    width: 100%; /* Defina a largura para ocupar todo o card */
  }

}
