<div class="conteudoSobreMim"  >
  <img class="perfil" src="../../../assets/imgEu.png" alt="imgPerfil" style="max-width: 100%;"/>

  <div class="minhasInfos">
    <h2>{{name}}</h2>

    <ul class="minhasContas">
      <li>
        <a href="https://github.com/Davidjr99" target="_blank">
          <img
            class="github"
            src="../../../assets/imggithub-removebg-preview.png"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/david-junior-37970317a/"
          target="_blank"
        >
          <img
            class="linkedin"
            src="./../../assets/imglinkedin-removebg-preview.png"
          />
        </a>
      </li>
      <li>
        <a href="https://wa.me/11990042878" target="_blank">
          <img
            class="whats"
            src="../../../assets/imgwhats-removebg-preview.png"
          />
        </a>
      </li>
    </ul>
  </div>
</div>



<div class="apresentacao" fxLayout="column" fxLayoutAlign="start stretch">



  <mat-card class="apresentacao">
    <h1 class="tituloSobreMim">Sobre Mim:</h1>
    <mat-card-subtitle class="textoSobreMim">
    {{sobreMim}}
    </mat-card-subtitle>
    
  </mat-card>
  
</div>



<h2 class="tituloFormacoes">Minhas Formações:</h2>
<div class="formacoes">

  <mat-card class="card1">
    <mat-card-header>
      <img
        class="imgbeca"
        src="../../../assets/imgEstacio-removebg-preview.png"
      />
    </mat-card-header>

    <mat-card-title> Gestão Da Tecnologia  Da  Informação </mat-card-title>

    <mat-card-footer>
      <img
        class="imglogoEstacio"
        src="../../../assets/estacioimg-removebg-preview.png"
      />
    </mat-card-footer>
  </mat-card>

  <mat-card class="card2">
    <mat-card-header>
      <img
        class="imgbeca"
        src="../../../assets/imgEstacio-removebg-preview.png"
      />
    </mat-card-header>

    <mat-card-title> Desenvolvimento FullStack </mat-card-title>

    <mat-card-footer>
      <img
        class="imglogoproa"
        src="../../../assets/imgproa-removebg-preview.png"
      />
    </mat-card-footer>
  </mat-card>

  <mat-card class="card3">
    <mat-card-header>
      <img
        class="imgbeca"
        src="../../../assets/imgEstacio-removebg-preview.png"
      />
    </mat-card-header>

    <mat-card-title> Front End Angular </mat-card-title>

    <mat-card-footer>
      <img
        class="imglogo"
        src="../../../assets/imgsenac-removebg-preview.png"
      />
    </mat-card-footer>
  </mat-card>

  <mat-card class="card4">
    <mat-card-header>
      <img
        class="imgbeca"
        src="../../../assets/imgEstacio-removebg-preview.png"
      />
    </mat-card-header>

    <mat-card-title> Inglês Para Adultos </mat-card-title>

    <mat-card-footer>
      <img
        class="imglogo"

        src="../../../assets/imgyasigi-removebg-preview.png"
      />
    </mat-card-footer>
  </mat-card>
</div>
