.carousel-inner{
  display: flex;
  animation: 2s ease-out 0s 1 slideInFromRight;
}
.carousel-item {
  flex: 0 0 150px;
}
.carousel-item img {
  width: 80%; /* Garanta que as imagens ocupem toda a largura do seu container */
  height: 70px;
  object-fit: contain; /* Mantenha a proporção da altura das imagens */
  margin: 0%;

}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
